import pandas as pd
from aiweb_common.fastapi.schemas import MSWordResponse
from fastapi import APIRouter, BackgroundTasks, HTTPException
from {{project_name}}.sample_handler import FastAPIBaseHandler

from app.fastapi_config import SECOND_META

#TODO add tags
router = APIRouter(tags=["Tab2"])


def get_task_response(
    request: RequestCategorization, background_tasks: BackgroundTasks
) -> MSWordResponse:

    try:
        handler = FastAPIBaseHandler()
        response = handler.generate_dummy_report()
    except Exception as e:
        raise HTTPException(status_code=500, detail=str(e)) from e

    return MSWordResponse


@router.post("/app/v01/tab2", **TAB2_META)
async def process_file(background_tasks: BackgroundTasks) -> MSWordResponse:
    #This example task returns a Docx document.
    response = get_task_response(background_tasks)

    return response