## Documentation

- [Workflows]({{project_name}}/main.md): main workflows.
- [Configuration]({{project_name}}_config/config.md): Configuration Details
- [User Interface]({{project_name}}_streamlit_app.md)

If you found this helpful in your work, please cite:

@article{GODWIN2024101723,
title = {Toward efficient data science: A comprehensive MLOps template for collaborative code development and automation},
journal = {SoftwareX},
volume = {26},
pages = {101723},
year = {2024},
issn = {2352-7110},
doi = {https://doi.org/10.1016/j.softx.2024.101723},
url = {https://www.sciencedirect.com/science/article/pii/S2352711024000943},
author = {Ryan C. Godwin and Ryan L. Melvin},
keywords = {Machine learning, Artificial intelligence, Machine learning operations, Software template, Traceability, Software reliability},
abstract = {In the era of big data analytics and AI applications, data provenance is as important as ever, particularly as applications emerge in vital industries like healthcare. Additionally, as the suites of tools and packages grow exponentially, code transparency and experiment record keeping are essential to ensuring full traceability of AI and ML models. This manuscript presents an open-source Machine Learning Operations (MLOps) Template that provides a consistent framework to support collaborative development and improve efficiency. The template provides a robust and reliable software structure incorporating essential development aspects. These tools include automated code documentation, built-in package management, experiment tracking, configuration and logging infrastructure, and more. The template is built on an agglomeration of best practices gleaned from industry and academia alike, providing a great starting point for any ML/AI project.}
}