## Documentation

{{description}}

- [Main Window]({{project_name}}/main_window.md): application entry point and page navigation.

If you found this helpful in your work, please cite:

Godwin, R. C.* , Melvin, R. L.*, "Toward Efficient Data Science: A Comprehensive MLOps Template for Collaborative Code Development and Automation", SoftwareX, 26, 101723, 2024
