"""
The main app file sets up a Streamlit UI with tabs for two example tasks.
Each tab calls a function from streamlit_handler to display its content.
"""

import streamlit as st
from aiweb_common.streamlit.page_renderer import UIHelper

from {{project_name}}.utils.utils_example import task_a, task_b
from {{project_name}}.streamlit_interface import BaseHandler
from {{project_name}}_config.config import Config


def main():
    """
    Main sets up the web app title, header and tabs.
    """
    st.set_page_config(page_title="{{project_name}}", page_icon="🏷️")
    st.title("🏷️ {{project_name}}  🤖")
    st.markdown(Config.HEADER_MARKDOWN)

    # Create a UI helper instance. (This can be used to wrap Streamlit calls if needed.)
    ui = UIHelper()
    handler = BaseHandler(ui_helper=ui)
    # Create two tabs in the app for the example tasks.
    tab1, tab2 = st.tabs(["Example Task A", "Example Task B"])

    with tab1:
        # Call task A — CSV file upload and preview.
        ui.write(task_a())
        handler.upload_example()

    with tab2:
        # Call task B — Dummy report generation and download.
        ui.write(task_b())
        handler.download_example()

if __name__ == "__main__":
    main()
